<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.teamscavengr.scavengr" >

    <uses-library android:name="com.google.android.maps"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".createhunt.CreateHuntActivity"
            android:label="Create Hunt Activity" >
        </activity>
        <activity
            android:name=".goonhunt.HuntActivity"
            android:label="Go On a Hunt" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDY7LxaXicRIUcpuI5h51UQo2rEeGvs1SM" />

        <activity
            android:name=".goonhunt.HuntsList"
            android:label="Hunts" >
        </activity>
        <activity
            android:name=".goonhunt.ConfirmHunt"
            android:label="This Hunt" >
        </activity>
        <!--<activity-->
            <!--android:name=".HuntConfirmationActivity"-->
            <!--android:label="@string/title_activity_hunt_conformation" >-->
        <!--</activity>-->
        <activity
            android:name=".goonhunt.RateHuntActivity"
            android:label="@string/title_activity_review_hunt" >
        </activity>
        <activity
            android:name=".createhunt.CreateWaypointActivity"
            android:label="Create Waypoint" >
        </activity>
        <activity
            android:name=".createhunt.MyHuntsActivity"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:label="My Hunts">

        </activity>
        <activity
            android:name=".createhunt.ReviewCreatedHuntActivity"
            android:label="Review Your Created Hunt" >
        </activity>
        <activity
            android:name=".goonhunt.HuntRecapActivity"
            android:label="@string/title_activity_hunt_recap" >

        </activity>
        <activity
            android:name=".createhunt.HuntDetailsActivity"
            android:label="Hunt Details" >
        </activity>
    </application>

</manifest>
